
*{
    margin:0;
    padding:0; 
}
#container div:nth-child(even)
{background-color: red; 

}

#container div:nth-child(odd)
{background-color: green; 

}

#container{

    display:grid; 
}

#header{
height:100px; 
}

img{
    width: 250px;
    height: 100px;  
  
}
footer img{
    
    /* float: right; */
    position: relative;
    left: 800px; 
    top: 400px;
}
.nav{
    height: 50px;
    text-align: center; 
    background-color: black; 
    color: white; 
    
}
/* .nav p
{
    te
} */
    body {
        margin:0; /*gets rid of white space around body*/
        margin-top:16px;
        height:150vh; /*you can let your content define it's height*/
        position:relative; /*REQUIRED Sets up positioning for your footer*/
      }
      #stickyfooter{
         
            width:100%;
            height:44px;
            padding-top:20px;
            background:black;
            color:white;
            font-weight:bold;
            font-size:24px;
            text-align:center;
            position:absolute; /*Here's what sticks it*/
            bottom:0;          /*to the bottom of the body/page*/
            left:0;            /*and to the left of the body/
      
}


      

